.title{
	color: #008CBA;
}

.select_field{
	font-size: 14px;
	height: 30px;
}

.input_field_small{
	font-size: 14px;
	height: 30px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	width: 170px;
}

.input_field_medium{
	font-size: 14px;
	height: 30px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	width: 230px;
}

.input_field_large{
	font-size: 14px;
	height: 30px;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	width: 340px;
}


.input_url {
    border: none;
    border-bottom: 1px solid #AAAAAA;
    width:600px;
}

.standard_table {
	width:1130px;
}


